<div id="<%= dom_id prayer %>">
  <p>
    <strong>Name:</strong>
    <%= prayer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prayer.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= prayer.duration %>
  </p>

  <p>
    <strong>Prayer circle:</strong>
    <%= prayer.prayer_circle_id %>
  </p>

</div>
