<p style="color: green"><%= notice %></p>

<% content_for :title, "Prayers" %>

<div data-controller="prayer-timer"
     data-prayer-timer-prayers-value="<%= @prayers.map { |p| { duration: p.duration } }.to_json %>"
     data-prayer-timer-total-duration-value="<%= @prayers.sum(&:duration) %>">
  
  <svg data-prayer-timer-target="timer"
       width="220"
       height="220"
       viewBox="0 0 220 220">
  </svg>
  
  <div id="prayers">
    <% @prayers.each do |prayer| %>
      <%= render prayer %>
      <p>
        <%= link_to "Show this prayer", prayer_circle_prayer_path(@prayer_circle, prayer) %>
      </p>
    <% end %>
  </div>

  <%= link_to "New prayer", new_prayer_circle_prayer_path(@prayer_circle) %>
</div>

