<p style="color: green"><%= notice %></p>

<%= render @prayer %>

<div>
  <%= link_to "Edit this prayer", edit_prayer_circle_prayer_path(@prayer_circle, @prayer) %> |
  <%= link_to "Back to prayers", prayer_circle_prayers_path(@prayer_circle) %>

  <%= button_to "Destroy this prayer", prayer_circle_prayer_path(@prayer_circle, @prayer), method: :delete %>
</div>
