<p style="color: green"><%= notice %></p>

<%= render @prayer %>

<div>
  <%= link_to "Edit this prayer", edit_prayer_path(@prayer) %> |
  <%= link_to "Back to prayers", prayers_path %>

  <%= button_to "Destroy this prayer", @prayer, method: :delete %>
</div>
